

/* --------------CSS by Jonathan Newkirk----------------- */

/* --------------Imported Fonts----------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* --------------CSS Reset----------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------ROOT VARIABLES----------------- */

:root{
    --Teal:#4CA7C0;
    --Purple:#484FB7;
    --Lavender:#6B8FE7;
    --Yellow:#E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;

}

/* --------------BEGIN GLOBAL STYLES----------------- */
/* -------------------------------------------------- */

body{
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--Purple);
}

header h1{
    font-family: 'Kavoon', sans-serif;
    font-size: 3em;
    padding: 5px;
    text-align: center;
    color: var(--White);
}

#tagline h4{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--White);
    padding: 10px;
}

h2{
    font-family: 'Kavoon', sans-serif;
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
}

h4{
    font-size: 1.15em;
    font-family: 'Inter', sans-serif;
}

nav h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
}


nav{
    background-color: var(--Yellow);
    padding: 15px;
    margin: 10px 0;
}


nav li a{
    color: var(--Purple);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    padding:15px;
    background-color: var(--White);
}

main h2{
    color:var(--White);

}

main h3{
    color: var(--Yellow);
    font-weight: bold;
}

img{
    width: 25px;
    padding: 5px;
}

#personaldevelopment{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#personaldevelopment h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#personaldevelopment p{
    font-family: 'Inter', sans-serif;
}

#careercoaching{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#careercoaching h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#careercoaching p{
    font-family: 'Inter', sans-serif;
}

#relationshipcoaching{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
#relationshipcoaching h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#relationshipcoaching p{
    font-family: 'Inter', sans-serif;
}

#supportivecommunity{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#supportivecommunity h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#supportivecommunity p{
    font-family: 'Inter', sans-serif;
}

#focusedsession{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#focusedsession h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#focusedsession p{
    font-family: 'Inter', sans-serif;
}

#interactivelearning{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#interactivelearning h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#interactivelearning p{
    font-family: 'Inter', sans-serif;
}

#flexiblelearning{
    background-color: var(--White);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#flexiblelearning h4{
    color: var(--Purple);
    font-weight: bold;
    padding: 5px 0;
}

#flexiblelearning p{
    font-family: 'Inter', sans-serif;
}

#why-choose{
    background-color: var(--Pink);
}
